@import 'css/utilites.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    font-family: 'poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
 *{
     padding:0; 
     margin: 0;
     box-sizing: border-box;
     -webkit-font-smotthing:antialiased;
}

.logo1{
    width:150px;
    height:45px;
}
.container{
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}
  
header{
    background-color: #161616;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 3rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding:2rem 0;
}
header nav .branding{
    margin-right:3rem;
}
.hero .left img{
width: 400px;
}
.hero{
    padding: 3ram 0;
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size:1.6rem; 
    color: var(--primary);
    margin-bottom: 0.5rem;

}
.hero .right h1{
    font-size:4rem; 
    font-weight: 100;
    line-height: 1.2;
    margin-bottom:2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
  margin-top: -7rem;
}

section{
    padding:6rem 0;
}
section.about .img2{
    height:450px;
}
section.about .h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight:400;
}
section.about h1 span{
    color:var(--primary) ;
 
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 400;

}
section.about p{
    font-family: 'lato',sans-serif;
    color: var(--ternary);
    line-height: 1.9;
}
section.about .socail{
    display: flex;
}
section.about .socail a{
    background:var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
section.about .social{
    display: flex;
}

section.about a img{
    margin-top: 40px;
 width:30px;
 margin-left: 5px;
}
.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color:var(--primary);
}

.section-heading + p{
    color:var(--ternary);
    font-family: 'lato', sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}
.card-wrapper{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap: 5rem;
}
.card img{
    width: 40px;
    height: 40px;
    position: absolute;
    top:-1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
    
}
section.Services{
    background-color: var(--light);
}
section.Services .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 3rem;
    text-align: center;
    transition: all .9s ease;
}
section.Services .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    
}
section.Services .card p{
    font-family:'lato' sans-serif;
    color:var(--ternary);
    line-height: 1.6rem;
}
section.Services .card:hover{
    background: var(--dark);
}
section.Services .card:hover p, section.Services .card:hover h2{
    color:yellow;
}

section.freelancer{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/camera.png");
    color:var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 77%, 0 100%);
    padding-bottom: 15rem;
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'lato',sans-serif;
}
section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 6rem;
}
section.reviews .slider .slide p{
    font-family: 'leto',sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .slider .slide span{
    font-size: 0.9rem;
}
section.work{
    background: var(--light);
}
section.work h1{
    color: var(--dark);
}
.card-wrapper-2{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap: 5rem;
}
.card-2{
    position: relative;
    height: 200px;

}
.card-2 .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(61,207,211,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--light);
    opacity: 0;
    transition: all .3s ease;
}
.card-2:hover .overlay:hover{
    opacity: 1;
}
.card-2 .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
.card-2 img{
    height: 100%;
    width: 100%;
}

section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
    padding-bottom: 12rem;
}

section.blog .section-heading{
    color: var(--light);
}
section.blog .card-wrapper-artcle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper-artcle .card-artcle{
    background: var(--pure);
}
section.blog .card-wrapper-artcle .card-artcle .img-wrapper img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1 h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1 a{
    color: var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1 a:hover{
    color: var(--primary);
}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1 span{
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1 p{
    font-family:'lato', sans-serif;
    color: var(--ternary);
    margin-top:1rem;
    margin-bottom: 1rem;

}
section.blog .card-wrapper-artcle .card-artcle .card-artcle-1 a.read-more{
    font-family:'loto' ,sans-serif;
    font-size: 0.8rem;
}



section.contact .card-wrapper-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper-contact .card-contact{
    text-align: center;
}
section.contact .card-wrapper-contact .card-contact img{
    margin-bottom: 3rem;
    height: 150px;
    width: 150px;
}
section.contact .card-wrapper-contact .card-contact h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper-contact .card-contact h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}


section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact input{
    padding: 0.5rem ;
    border: 1px solid var(--light);
    font-size: 0.9rem;
    
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus{
    outline: none;
}
section.contact input:focus{
    outline: none;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
section.contact h1{
    color:var(--dark);
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
.footer-social img{
    height: 30px;
    width: 30px;
}
.footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}
.footer-social a{
  margin-right: 1rem;
}
.Copyright{
    color: var(--ternary);
}
.footer-social{
    margin-bottom: 3rem;
    margin-right: -1rem;
}